# env variables
OPENAI_API_KEY=<value>
EMBEDDING_MODEL=<value>
PG_CONNECTION_STRING=<value>
PG_CONNECTION_STRING_FTS=<value>
PG_CONNECT_TIMEOUT=<value>


# # for LLM observality
LANGSMITH_TRACING=<value>
LANGSMITH_ENDPOINT=<value>
LANGSMITH_API_KEY=<value>
LANGSMITH_PROJECT=<value>

# OPENAI_API_KEY=<your-openai-api-key>